{% extends 'shop/layouts/main.html' %}
 {% block content %}
 <section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1> Cart item</h1>
                <hr style="border-color:#b8bfc2">
            </div>
    
    <table>
        <tr> 
            <th> Image</th>
            <th> Product Name</th>
            <th> Price</th>
            <th> Quantity</th>
            <th> Amount</th>
            <th> Remove</th>
        </tr> 
        {% for i in cart %}
        <tr> 
            <td> <img src="{{i.product.product_image.url}}"  style="width:300px; height:255px" alt="{{product.name}}"></td>
            <td> {{i.product.name}}</td> 
            <td>{{i.product.selling_price}}</td>
            <td>{{i.product_qty}}</td>
            <td class="amt">{{i.total_cost}}</td>
            <td> <a href="{% url 'remove_cart' i.id %}" class="btn btn-danger "onclick="return confirm('Are you sure ? want to delete')"><i class="fa fa-trash"></i> Remove</a>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td colspan="2"><b>Total Amount</b></td>
            <td id="net">0</td>
            <td><button class="btn btn-success " onclick="return confirm('Are you sure ? want to Buy')" id="btnCart">   Buy  </button><td>
        </tr>
    </table>
    </div>
    </div>
 </section>
 <script>
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc, curr) =>{
      return acc += Number(curr.textContent)
    }, 0);
    document.getElementById("net").innerHTML="Rs : "+res;
 </script>
 {% endblock content %}