<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get Connected with us on Social Media </span>
        </div>
        <div>
            <a herf="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
        </div>
    </section>
<section>
    <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
            <div class="col md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>shopkaro</h6>
                <p>
                    shopkart.com is a one shop destination for your family's needs.
                    We give you the oppertunity to give your wardrobe a makeover with the lattest collections from top brands. 
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fa fa-home"></i> shopkaro</p>
                <p><i class="fa fa-envelope"></i> shop@gmail.com</p>
                <p><i class="fa fa-phone"></i> +91 9876543210</p>
            </div>

        </div>
    </div>
</section>

</footer>